<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livraria</title>
</head>
<body>
    <form method="post" th:action="@{/criarLivro}" th:object="${Livro}">
        Nome: <input type="text"  th:field="*{nome}"><br>
        Autor: <input type="text" th:field="*{autor}"><br>
        Ano: <input type="number" th:field="*{ano}"><br>
        Valor R$: <input type="number" th:field="*{valor}"><br>


        <button type="submit">Submit</button>

    </form>
</body>
</html>
