<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuario</title>
</head>
<body>
    <form method="post" th:action="@{/criarUsuario}" th:object="${usuario}">

        Nome: <input type="text"  th:field="*{nome}"><br>
        Cpf: <input type="text" th:field="*{cpf}"><br>
        Username: <input type="text"  th:field = "${usuario.username}"><br>
        Senha: <input type="password"  th:field = "${usuario.senha}"><br>
        isAdmin:
        <input type="radio" th:field="*{isAdmin}" th:value="TRUE">Yes
        <input type="radio" th:field="*{isAdmin}" th:value="FALSE">  NO
        <br>
        <button type="submit" >Submit </button>
    </form>

</body>
</html>