<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <th>Nome</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Valor</th>
        </thead>
        <tbody>
            <tr th:each="livro : ${listaLivro}">

                <td>
                    <label hidden="hidden" th:text="${livro.id}"> </label>
                </td>
                <td>
                    <label th:text="${livro.nome}" ></label>
                </td>
                <td>
                    <label th:text="${livro.autor}" ></label>
                </td>
                <td>
                    <label th:text="${livro.ano}" ></label>
                </td>
                <td>
                    <label th:text="${livro.valor}"> </label>
                </td>

                <td>
                    <label th:text="${livro.imageuri}">  </label>
                </td>


                    <td>
                        <a th:href="@{'/deletarLivro/' + ${livro.id}}" role="button">Deletar</a>
                        <a th:href="@{'/listarLivro/' + ${livro.id}}">  Adicionar ao Carrinho</a>

                        <a th:href="@{'/verCarrinho'}"> Ver Carrinho</a>

                    </td>

            </tr>


        </tbody>
    </table>
</body>
</html>