<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Carrinho</title>
</head>
<body>
<h1>Ver Carrinho</h1>
<table>
    <thead>
    <th>Nome</th>
    <th>Autor</th>
    <th>Ano</th>
    <th>Valor</th>
    </thead>
    <tbody>
    <tr th:each="livro : ${carrinho}">
        <td th:text="${livro.nome}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.ano}"></td>
        <td th:text="${livro.valor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>